<p id="notice"><%= notice %></p>

<div class="list-group">
    <div class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-start">
        <h2 class="mb-1">Blocktoidz Levels
          <%= link_to 'New Level', new_level_path %>
        </h2>
      </div>
    </div>
    <% @levels.each do |level| %>
      <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-around ">
          <h3 class="mb-1">
            <%= link_to 'View highscores', level_path(level), class:"btn btn-default"%>
            <%= level.name%>
          </h3>
        </div>
        <p class="mb-1"><%= level.gamemode%></p>
        <small class="text-muted"><%= level.highscores.size%> Highscores</small>
        <small class="text-muted"><%= level.created_at.strftime("%D - %I:%M %p")%></small>
      </div>
    <%end%>
  </div>
